SUBSYSTEMS=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="607a", GROUP="dialout", SYMLINK+="fadecandy", MODE="0666", TAG+="systemd", ENV{SYSTEMD_WANTS}+="fadecandy_server.service"
